RewriteEngine on

RewriteRule ^index$ index.php
RewriteRule ^page/(.*)$ page.php?link=$1
RewriteRule ^page/acceso-denegado$ 403.php
RewriteRule ^contenido/todo/(.*)$ content.php?link=todo&p=$1
RewriteRule ^contenido/(.*)$ content.php?link=$1
RewriteRule ^contenido/acceso-denegado$ 403.php
RewriteRule ^nacional/(.*)$ page.php?link=$1
RewriteRule ^internacional/(.*)$ page.php?link=$1
RewriteRule ^fundacion/(.*)$ page.php?link=$1
RewriteRule ^formacion/(.*)$ page.php?link=$1
RewriteRule ^matriculacion/(.*)$ page.php?link=$1
RewriteRule ^empleo$ page.php?link=empleo
RewriteRule ^automatricula$ automatricula.php
RewriteRule ^contacto$ contacto.php

# Errores en local, borrar para subir
ErrorDocument 403 /inuede/sergio/403.php
ErrorDocument 404 /inuede/sergio/404.php

# Errores en producción
#ErrorDocument 403 /403.php
#ErrorDocument 404 /404.php