/* Estilos propios o adaptaciones a la plantilla para adaptar a INUEDE */

/* Regla para que las ventanas del CKEditor salgan por encima de las modales básicas */
.modal {
	z-index: 9999;
}

/* Tamaño y alineamiento del logo */
.logo {
	font-size: 2.5em;
}

/* Efecto en los textbox del index */
.col-sm-4:hover .box-title .fa {
	background-color: #1375A3 !important;
	/*background-color: #ddd !important;*/
	transform: rotateY(360deg);
	transition: all 0.8s ease-out 0s;
}

/* Textos en los titulares en mayúsculas */

.titlebar .page-title {
	text-transform: capitalize;
}